html,
body {
    min-width: 960px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    
    color: #fff;
    background: #000000 url("../img/body-bg.jpg") no-repeat 50% 3px;
    background-size: 1122px auto;
}

.pages-bg {
    background: #000000 url("../img/background-texture.jpg") 100%;
    color: #000000;
}
.clearfix::after {
    content: "";
    
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 60px;
    background: #000000;
}
.main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
}
.user-block {
    float: right;
    width: 140px;
    min-height: 70px;
}
.index-logo {
    height: 204px;
    width: 368px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

/* ____________________INDEX___________________ */


.features {
    margin-bottom: 80px;
}
.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    min-height: 175px;
}
.features-item:last-child {
    margin-right: 0;
}
.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
}
.index-content-left {
    float: left;
    width: 380px;
   min-height: 330px; 
}
.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px; 
}
/* ____________________INDEX___________________ */


/* ____________________ITEM___________________ */


.item-content {
    margin-bottom: 35px;
    padding: 50px 17px;
}
.item-content-left {
    float: left;
    width: 480px;
   min-height: 330px; 
}

.item-content-right {
    float: right;
    width: 400px;
    min-height: 330px; 
}
.header {
        padding-top: 20px;
    }

.mini-pict {
    display: inline;
}
/* ____________________ITEM___________________ */


/* ____________________SHOP___________________ */


.shop-content-left {
    padding: 0px;
     float: left;
    width: 185px;
   min-height: 330px;
}
.shop-content-right {
padding: 0px;
    float: left;
    width: 240px;
   min-height: 400px;
}

.shop-content-right-column {
    padding: 0px;
    width: 720px;
    float: right;
}
.pages {
    float: left;
}

/* ____________________SHOP___________________ */

/* ____________________PRICE-LIST___________________ */

.price-title{
    margin-bottom: 60px;
}

.price-content-left {
    margin-bottom: 60px;
     float: left;
    width: 400px;
   min-height: 40px;
}
.price-content-left-header {
     padding: 0px;
     float: left;
    width: 900px;
}
.price-content-right {
   margin-bottom: 60px;
     float: right;
    width: 480px;
   min-height: 40px;
}


/* ____________________PRICE-LIST___________________ */

.main-footer {
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 65px;
}
.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
}
.footer-social {
    float: left;
    width: 180px;
    min-height: 90px;
}
.footer-copyright {
    float: right;
    width: 180px;
    min-height: 90px;
}